	<div class="app">
		<div class="grid">
			<div class="row ">
				<div class="col l-2 container-left">
					<nav class="aside-nav">
						<a href="#"><img class="logo" src="img/logo-dark.svg" /></a>
						<ul class="nav">
							<li class="nav-item active">
								<i class="fab fa-itunes"></i>
								<p class="nav-item-title">Cá Nhân</p>
							</li>
							<li class="nav-item">
								<i class="fas fa-record-vinyl"></i>
								<p class="nav-item-title">Khám Phá</p>
							</li>
							<li class="nav-item">
								<i class="fab fa-facebook-messenger"></i>
								<p class="nav-item-title">#Zing chart</p>
							</li>
							<li class="nav-item">
								<i class="fas fa-radiation-alt"></i>
								<p class="nav-item-title">Radio</p>
							</li>
							<li class="nav-item">
								<i class="fas fa-rss"></i>
								<p class="nav-item-title">Theo Dõi</p>
							</li>
						</ul>
						<span class="line"></span>
						<div class="aside-nav-wrapper">
							<ul class="nav">
								<li class="nav-item">
									<i class="fa fa-music"></i>
									<p class="nav-item-title">Nhạc Mới</p>
								</li>
								<li class="nav-item">
									<i class="fas fa-icons"></i>
									<p class="nav-item-title">Thể Loại</p>
								</li>
								<li class="nav-item">
									<i class="fas fa-star"></i>
									<p class="nav-item-title">Top 100</p>
								</li>
								<li class="nav-item">
									<i class="fab fa-youtube"></i>
									<p class="nav-item-title">Music Videos</p>
								</li>
							</ul>
							<div class="vip-sidebar">
								<p class="vip-sidebar-heading">Nghe nhạc không quảng cáo cùng kho nhạc VIP</p>
								<button class="buyvip">MUA VIP</button>
							</div>
							<ul class="nav">
								<li class="nav-item">
									<img src="img/my-song.svg" alt="">
									<p class="nav-item-title">Bài hát</p>
								</li>
								<li class="nav-item">
									<img src="img/my-playlist.svg" alt="">
									<p class="nav-item-title">Playlist</p>
								</li>
								<li class="nav-item">
									<img src="img/my-history.svg" alt="">
									<p class="nav-item-title">Gần đây</p>
								</li>
							</ul>
						</div>
						<span class="line"></span>
						<div class="add-playlist">
							<a href="#">
								<span class="add-playlist-plus">+</span>
								<span class="add-playlist-title">Tạo playlist mới</span>
							</a>
						</div>
					</nav>
				</div>
				<div class="col l-10">
					<div class="grid">
						<div class="row container-header">
							<div class="col l-2 header-controls">
								<p class="arrow-icon active">
									<i class="fas fa-arrow-left"></i>
								</p>
								<p class="arrow-icon">
									<i class="fas fa-arrow-right"></i>
								</p>
							</div>
							<div class="col l-6 header-controls">
								<div class="container-header__search">
									<i class="fas fa-search"></i>
									<input class="container-header__search--content" type="text"
										placeholder="Nhập tên bài hát, Nghệ sĩ hoặc MV...">
								</div>
							</div>
							<div class="col l-4 header-controls in-right">
								<ul class="header-controls__right">
									<li class="header-controls__right--item tshirt">
										<i class="fas fa-tshirt"></i>
									</li>
									<li class="header-controls__right--item">
										<i class="fas fa-upload"></i>
									</li>
									<li class="header-controls__right--item">
										<i class="fas fa-cog"></i>
									</li>
									<li class="header-controls__right--item has-image">
									</li>

								</ul>
							</div>
						</div>
						<div class="row header-user">
							<div class="col l-o-5"></div>
							<div class="col l-3">
								
							</div>
							<div class="col l-3">
								<div class="header-user-buyvip">
									<button class="header-user-buyvip__buy">Mua vip ngay</button>
									<button class="header-user-buyvip__code">Nhập code vip</button>
									<button class="header-user__more">
										<i class="fas fa-ellipsis-h"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="header-profile-name">
							<div class="header-profile-nav">
									<div class="header-profile-nav__user">
										<div class="header-profile-nav__user--avt">
										</div>
									</div>
								</div>
							Phương Đông</div>
						<nav class="main-nav">
							<ul class="main-nav-list">
								<li class="main-nav__item active">TỔNG QUAN</li>
								<li class="main-nav__item">PLAYLIST</li>
								<li class="main-nav__item">NGHỆ SĨ</li>
								<li class="main-nav__item">ALBUM</li>
								<li class="main-nav__item">MV</li>
								<li class="main-nav__item">TẢI LÊN</li>
							</ul>
						</nav>
					</div>

					<div class="col l-6">
						<p class="header-text-song-title">Bài Hát ></p>
					</div>
					<div class="col l-3">
						<div class="container d-flex justify-content-center my-4 mb-5">
							<div id="mobile-box">
								<!-- Card -->
								<div class="card">
								<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
									<img class="card-img-top" src="img/avt.jpeg"
									alt="Card image cap">
									<a href="#!" >
									<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</a>
								</div>
								<div class="card-body text-center">

									<h5 class="h5 font-weight-bold"><a style="color: white" href="#" target="_blank">Phương Đông</a></h5>
									<p class="mb-0">Suy nghĩ trong anh</p>

									<audio id="music" preload="true">
										<source src="audio/Suy-nghi-trong-anh.m4a">
									</audio>
									<div id="audioplayer">
									<i id="pButton" onclick="goPlay()" class="fas fa-play"></i>
									<div id="timeline">
										<div id="playhead"></div>
									</div>
									</div>

								</div>
								</div>
								<!-- Card -->
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
	<script>
		var isgo = false
		function goPlay()
		{
			if (isgo == false)
			{
				isgo = true
				 document.getElementById("music").play();
				var playPauseButton = document.getElementById("pButton")
				playPauseButton.classList.remove('fa-play');
				playPauseButton.classList.add('fa-pause');

			} 
			else
			{
				isgo = false
				document.getElementById("music").pause();
				var playPauseButton = document.getElementById("pButton")
				playPauseButton.classList.remove('fa-pause');
				playPauseButton.classList.add('fa-play');
			}
			
		}		
	</script>